.footer-container {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 209px;
    justify-content: center;
    margin-top: 150px;

}

.footer-logo{
    margin-top: 55px;
}

.footer-container__text{
    color: white;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}