.nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  min-width: 20%;
  margin-right: 2px;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.nav-header_link {
  text-decoration: none;
  color: #ff6060;
}

.nav-header_link:hover{
  border-bottom: 1px solid #ff6060;
}

@media screen and (max-width: 1490px) {
  
  .nav-header {
    font-size: 18px;
  }
  .nav-header_link {
    margin-left: 20px;
  }
}